{% extends 'main_header.html' %}
{% load static %}

{%  block main_content %}
    <!-- Start Banner Hero -->
    <div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="0" class="active"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="1"></li>
            <li data-bs-target="#template-mo-zay-hero-carousel" data-bs-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            {%  for item in peculiarities %}
            {% if forloop.first %}
            <div class="carousel-item active">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_01.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left align-self-center">
                                <h1 class="h1 text-success"><b>{{ item.title }}</b></h1>
                                <h3 class="h2">{{ item.description1 }}</h3>
                                <p>
                                    {{ item.description2}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% else %}
            <div class="carousel-item">
                <div class="container">
                    <div class="row p-5">
                        <div class="mx-auto col-md-8 col-lg-6 order-lg-last">
                            <img class="img-fluid" src="./assets/img/banner_img_02.jpg" alt="">
                        </div>
                        <div class="col-lg-6 mb-0 d-flex align-items-center">
                            <div class="text-align-left">
                                <h1 class="h1">{{ item.title }}</h1>
                                <h3 class="h2">{{ item.description1 }}</h3>
                                <p>
                                    {{ item.description2 }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="prev">
            <i class="fas fa-chevron-left"></i>
        </a>
        <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel" role="button" data-bs-slide="next">
            <i class="fas fa-chevron-right"></i>
        </a>
    </div>
    <!-- End Banner Hero -->


    <!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Categories of The Month</h1>
                <p>
                    The best categories in this month!
                </p>
            </div>
        </div>
        <div class="row">
            {% for item in categories %}
            <div class="col-12 col-md-4 p-5 mt-3">
                <a href="#"><img src="{{ item.photo.image.url}}" class="rounded-circle img-fluid border"></a>
                <h5 class="text-center mt-3 mb-3">{{ item.category.title }}</h5>
                <p class="text-center"><a class="btn btn-success" href="{% url 'category_products' item.category.slug %}">Go Shop</a></p>
            </div>
            {% endfor %}
        </div>
    </section>
    <!-- End Categories of The Month -->


    <!-- Start Featured Product -->
    <section class="bg-light">
        <div class="container py-5">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Featured Product</h1>
                    <p>
                        Here our the best products!
                    </p>
                </div>
            </div>
            <div class="row">
                {% for item in product %}
                <div class="col-12 col-md-4 mb-4">
                    <div class="card h-100">
                        <a href="{% url 'product' item.slug %}">
                            {% if item.photo %}
                                <img src="{{ item.photo.url }}" class="card-img-top" alt="">
                            {% else %}
                                <img src="{% static 'assets/img/ajax-loader.gif' %}" class="card-img-top" alt="">
                            {% endif %}
                        </a>
                        <div class="card-body">
                            <ul class="list-unstyled d-flex justify-content-between">
                                <li class="text-muted text-right">${{ item.price }}</li>
                            </ul>
                            <a href="{% url 'product' item.slug %}" class="h2 text-decoration-none text-dark">{{ item.title }}</a>
                            <p class="card-text">
                                {{ item.desription }}
                            </p>
                            <p class="text-muted">Reviews {{ item.reviews }}</p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- End Featured Product -->
{% endblock %}