{% extends 'main_header.html' %}
{% block main_content %}
<!-- Start Content -->
    <div class="container py-5">
        <div class="row">
            <div class="col-lg-3">
                <h1 class="h2 pb-4">Categories</h1>
                <ul class="list-unstyled templatemo-accordion">
                {% for category in categories %}
                    <li class="pb-3">
                        <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                            {{ category.title }}
                            <i class="fa fa-fw fa-chevron-circle-down mt-1"></i>
                        </a>
                        <ul class="collapse show list-unstyled pl-3">
                        {% for item in category.subcategories.all %}
                            <li><a class="text-decoration-none" href="{% url 'category_products' item.slug %}">{{ item.title }}</a></li>
                        {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}

                    <h1 class="h2 pb-2">Brands</h1>
                    <form method="get">
                        {% for brand in brands %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="brand" value="{{ brand.title }}" id="brand{{ brand.id }}"
                                    onchange="this.form.submit()"
                                    {% if request.GET.brand == brand.title %}checked{% endif %}>
                                <label class="form-check-label" for="brand{{ brand.id }}">
                                    {{ brand.title }}
                                </label>
                            </div>
                        {% endfor %}

                        {% for key, value in request.GET.items %}
                            {% if key != 'brand' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        </form>

                    <h1 class="h2 pb-2">Colors</h1>
                    <form method="get">
                        {% for color in colors %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="color" value="{{ color.name }}" id="color{{ forloop.counter}}"
                                    onchange="this.form.submit()"
                                    {% if request.GET.color == color.name %}checked{% endif %}>
                                <label class="form-check-label" for="color{{ forloop.counter }}">
                                    {{ color.name }}
                                </label>
                            </div>
                        {% endfor %}

                        {% for key, value in request.GET.items %}
                            {% if key != 'color' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        </form>

                    <h1 class="h2 pb-2">Sizes</h1>
                    <form method="get">
                        {% for size in sizes %}
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="size" value="{{ size.name }}" id="size{{ forloop.counter}}"
                                    onchange="this.form.submit()"
                                    {% if request.GET.size == size.name %}checked{% endif %}>
                                <label class="form-check-label" for="size{{ forloop.counter }}">
                                    {{ size.name }}
                                </label>
                            </div>
                        {% endfor %}

                        {% for key, value in request.GET.items %}
                            {% if key != 'size' %}
                                <input type="hidden" name="{{ key }}" value="{{ value }}">
                            {% endif %}
                        {% endfor %}
                        </form>
                </ul>
            </div>


            <div class="col-lg-9">
                <div class="row">
                    <div class="col-md-6 pb-4">
                        <div class="d-flex">
                            <form method="get" id="sortForm" class="d-flex w-100">
                            <select class="form-control" name="sort" onchange="document.getElementById('sortForm').submit();">
                                <option value="">Sorting</option>
                                <option value="title_asc" {% if request.GET.sort == 'title_asc' %}selected{% endif %}>Name A → Z</option>
                                <option value="title_desc" {% if request.GET.sort == 'title_desc' %}selected{% endif %}>Name Z → A</option>
                                <option value="price_asc" {% if request.GET.sort == 'price_asc' %}selected{% endif %}>Price ↑</option>
                                <option value="price_desc" {% if request.GET.sort == 'price_desc' %}selected{% endif %}>Price ↓</option>
                            </select>

                            {% for key, value in request.GET.items %}
                                {% if key != 'sort' %}
                                    <input type="hidden" name="{{ key }}" value="{{ value }}">
                                {% endif %}
                            {% endfor %}
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for product in products %}
                    <div class="col-md-4">
                        <div class="card mb-4 product-wap rounded-0">
                            <div class="card rounded-0">
                                <img class="card-img rounded-0 img-fluid" src="{{ product.photo.url }}">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white mt-2" href="{% url 'product' product.slug %}"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="shop-single.html" class="h3 text-decoration-none">{{ product.title }}</a>
                                {% for size in product.size.all %}
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li>{{ size.name }}/</li>
                                    {% endfor %}
                                    <li class="pt-2">
                                        <span class="product-color-dot color-dot-red float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-blue float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-black float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-light float-left rounded-circle ml-1"></span>
                                        <span class="product-color-dot color-dot-green float-left rounded-circle ml-1"></span>
                                    </li>
                                </ul>
                                <p class="text-center mb-0">${{ product.price }}</p>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div div="row">
                    <ul class="pagination pagination-lg justify-content-end">
                        <li class="page-item disabled">
                            <a class="page-link active rounded-0 mr-3 shadow-sm border-top-0 border-left-0" href="#" tabindex="-1">1</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 mr-3 shadow-sm border-top-0 border-left-0 text-dark" href="#">2</a>
                        </li>
                        <li class="page-item">
                            <a class="page-link rounded-0 shadow-sm border-top-0 border-left-0 text-dark" href="#">3</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
    <!-- End Content -->

    <!-- Start Brands -->
    <section class="bg-light py-5">
        <div class="container my-4">
            <div class="row text-center py-3">
                <div class="col-lg-6 m-auto">
                    <h1 class="h1">Our Brands</h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                        Lorem ipsum dolor sit amet.
                    </p>
                </div>
                <div class="col-lg-9 m-auto tempaltemo-carousel">
                    <div class="row d-flex flex-row">
                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-light fas fa-chevron-left"></i>
                            </a>
                        </div>
                        <!--End Controls-->

                        <!--Carousel Wrapper-->
                        <div class="col">
                            <div class="carousel slide carousel-multi-item pt-2 pt-md-0" id="multi-item-example" data-bs-ride="carousel">
                                <!--Slides-->
                                <div class="carousel-inner product-links-wap" role="listbox">
                                    <!--First slide-->
                                        <div class="carousel-item active">
                                        <div class="row">
                                            {% for brand in brands %}
                                            <div class="col-3 p-md-5">
                                                <a href="#"><img class="img-fluid brand-img" src={{ brand.photo.url }} alt={{ brand.title }}></a>
                                            </div>
                                            {% endfor %}
                                        </div>
                                    </div>
                                    <!--End First slide-->
                                </div>
                                <!--End Slides-->
                            </div>
                        </div>
                        <!--End Carousel Wrapper-->

                        <!--Controls-->
                        <div class="col-1 align-self-center">
                            <a class="h1" href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-light fas fa-chevron-right"></i>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--End Brands-->

{% endblock %}